{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/A-dashboard.css' %}">
{% endblock %}



{% block content %}
    <div class="dashboard-container">
        <div class="dashboard-column">
            <div class="dashboard-section" id="user-management">
                
                <h3>User Management</h3>
                {% for n in notifications %}
                    {{n}}
                {% endfor %}

                {% for user in users %}
                    <div class="user-row">
                        <p class="user-info">({{ user.email }}) ({{ user.role }})</p>
                        {% if user.role.role_name == 'admin' %}
                            <form class="user-action" method="post" action="{% url 'make_user' user.id %}">
                                {% csrf_token %}
                                <button type="submit">Make User</button>
                            </form>
                        {% else %}
                            <form class="user-action" method="post" action="{% url 'make_admin' user.id %}">
                                {% csrf_token %}
                                <button type="submit">Make Admin</button>
                            </form>
                        {% endif %}
                        <form class="user-action" method="post" action="{% url 'delete_user' user.id %}">
                            {% csrf_token %}
                            <button type="submit">Delete User</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        
            <div class="dashboard-section" id="equipment-management">
                <h3>Equipment Management</h3>
                <!-- Equipment Management content will go here -->
            </div>
        
            <div class="dashboard-section" id="reservations">
                <h3>Reservations</h3>
                <!-- Reservations content will go here -->
            </div>
        </div>
        <div class="dashboard-column">
            <div class="dashboard-section" id="alerts">
                <h3>Alerts</h3>
                

                {% for notification in notifications %}
                    <div class="mt2">
                        {{ notification.message }}
                    </div>
                {% endfor %}
                <!-- Alerts content will go here -->
            </div>
        
            <div class="dashboard-section" id="reservation-requests">
                <h3>Reservation Requests</h3>
                <!-- Reservation Requests content will go here -->
            </div>
        
            <div class="dashboard-section" id="inventory-analysis">
                <h3>Inventory Analysis</h3>
                <!-- Inventory Analysis content will go here -->
            </div>
        </div>
    </div>
{% endblock %}


