{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/A-dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/equipment.css' %}">
{% endblock %}



{% block content %}
    <div class="dashboard-container">
        <div class="dashboard-column">
            <div class="dashboard-section" id="user-management">
                <h3>User Management</h3>
                {% for user in users %}
                    <div class="user-row">
                        <p class="user-info">({{ user.email }}) ({{ user.role }})</p>
                        {% if user.role.role_name == 'admin' %}
                            <form class="user-action" method="post" action="{% url 'make_user' user.id %}">
                                {% csrf_token %}
                                <button type="submit">Make User</button>
                            </form>
                        {% else %}
                            <form class="user-action" method="post" action="{% url 'make_admin' user.id %}">
                                {% csrf_token %}
                                <button type="submit">Make Admin</button>
                            </form>
                        {% endif %}
                        <form class="user-action" method="post" action="{% url 'delete_user' user.id %}">
                            {% csrf_token %}
                            <button type="submit">Delete User</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        
            <div class="dashboard-section" id="equipment-management">
                <h3>Equipment Management</h3>
                {% include 'equipmentSearch_plugin.html' %}
            </div>
        

        </div>
        <div class="dashboard-column">
            <div class="dashboard-section" id="alerts">
                <h3>Alerts</h3>
                
                {% for notification in notifications %}
                    <div class="mt2 flex">
                        <span>
                            {{ notification.created }}
                        </span>
                        {{ notification.message }}
                    </div>
                {% endfor %}
            </div>
        
            <div class="dashboard-section" id="reservation-requests">
                <h3>Reservation Requests</h3>
                {% include "admin_dash_reservations.html" %}
                <!-- Reservation Requests content will go here -->
            </div>
        
            <div class="dashboard-section" id="inventory-analysis">
                <h3>Inventory Analysis</h3>
                 <a href={% url 'reports' %} class="report-link">View reports-></a>
                <!-- Inventory Analysis content will go here -->
            </div>
        </div>
    </div>
{% endblock %}


