<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    {% load django_bootstrap5 %}
{#    {% bootstrap_css %}#}
{#    {% bootstrap_javascript %}#}
    <title>Dashboard - Custom Layout</title>
    <link rel="stylesheet" href="static/css/base.css">
    {% block styles %}
        {% endblock %}
</head>
<body>

    <div class="top-bar">
        <div class="logo">
            <img src="static/images/inventory.png" alt="Logo" style="height: 40px;">
        </div>
            <div class="profile-info">

                {% block user_name %}
                    <p>John Doe</p>
                {% endblock user_name %}

                <img src="static/images/profile_icon.png" alt="Profile">

            </div>
        </div>

    <div class="sidebar">
        <a href="#">Home</a>
        <a href="#">Notifications</a>
        <a href="#">Equipment</a>
        <a href="reservations">Reservations</a>
        <a href="#">Support</a>
        <a href="#">Alerts</a>
        <div class="logout">
            <a href="#">Log out</a>
        </div>
    </div>

    {% block content %}

    {% endblock content %}


</body>
</html>