{#AUTHOR SHEA + HARSH#}
{#MADE USING HTML AND CSS FROM JAMAL AND IOANNIS#}
<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/css/basscss.css" rel="stylesheet">


    {% load django_bootstrap5 %}
{#    {% bootstrap_css %}#}
{#    {% bootstrap_javascript %}#}
    <title>Dashboard - Custom Layout</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block styles %}
        {% endblock %}
</head>
<body>
    
    <div class="top-bar">
        <div class="logo">
            <img src="{% static 'images/inventory.png' %}" alt="Logo" style="height: 40px;">
        </div>
            <div class="profile-info">

                {% block user_name %}
                    <p>{{ user.email }}</p>
                {% endblock user_name %}

                <img class="ml-3" src="{% static "images/avatar2.svg" %}" alt="Profile">

            </div>
        </div>

    <div class="sidebar">
        {% if user.role.role_name == 'admin' %}
        <a href="{% url 'admin_home' %}" class="{% if request.path == '/admin_home/' %}sel{% endif %}">
            <i class='bx bxs-home'></i>    
            Home
        </a>
        {% elif user.role.role_name == "user" %}
        <a href="{% url 'user_home' %}"
        class="{% if request.path == '/user_home/' %}sel{% endif %}"
        >
            <i class='bx bxs-home'></i> 
            Home</a>
        {% endif %}
        <a href="{% url 'notifications' %}" class="{% if request.path == '/notifications/' %}sel{% endif %}">
            <i class='bx bx-bell' ></i>
            Notifications</a>
        <a href="{% url 'equipment' %}" class="{% if request.path == '/equipment/' or '/device/' in request.path %}sel{% endif %}"">
            <i class='bx bx-package'  ></i>
            Equipment</a>
    {#        ADD A LINK TO THE REPORTS PAGE ONLY IF USER ROLE IS ADMIN!!#}
        {% if user.role.role_name == 'admin' %}
        <a href="{% url 'reports' %}" class="{% if request.path == '/reports/' %}sel{% endif %}">
            <i class='bx bxs-report' ></i>
            Reports</a>
        {% endif %}
        {% if user.role.role_name == 'admin' %}
        <a href="{% url 'reservations' %}" class="{% if request.path == '/reservations/' %}sel{% endif %}">

            <i class='bx bxs-key' ></i>
            Reservations</a>
        {% elif user.role.role_name == "user" %}
        <a href="{% url 'requests' %}">
            <i class='bx bxs-ship'></i>
            Requests</a>
        {% endif %}
        <div class="logout">
            <a href="/logout">
                <i class='bx bxs-door-open' ></i>
                Log out</a>
        </div>
    </div>

    {% block content %}

    {% endblock content %}

    <script type="text/javascript" src="{% static "htmx.min.js" %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% block scripts %}

{% endblock %}

</body>

</html>