{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/equipment.css" %}">
    <link rel="stylesheet" href="{% static "css/device.css" %}">
{% endblock %}

{% block content %}
    <div class="structure-main">
    <div class="electronics-panel">
            <a onclick="goBack()" class="go-back-btn">< Go Back</a>

        <div class="product-panel">
        <div class="product-item" id="product-item">
                <img src="{% static 'images/'|add:device.device_type.lower|add:'.png'  %}" alt="{{ device.device_type }}">
            <div class="product-info">
                <h2>{{ device.device_name }}</h2>
                <p>{{ device.device_desc }}</p>
            </div>
            </div>
            <div class="product-stats">
{#            {% if current_path == '/reserve_device/' %}#}
                <div class="actions">
                    {% if user.role.role_name == "admin" %}
                        <button type="button" class="edit-btn" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
                    {% else %}
                        {% if booking and booking.booking_status == "reserved" or booking.booking_status == "requested" %}
                                <a href="{% url 'cancel_reservation' device.config.device_serial %}"><button type="button">Cancel</button></a>
                            {% else %}
                                <a href="{% url 'reserve_device' device.config.device_serial %}"><button class="edit-btn" id="back-button">Reserve</button></a>
                            {% endif %}
                    {% endif %}
                </div>
{#                {% endif %}#}

                <p>Type: <br> {{ device.device_type }}</p>
                <p class="{% if device.device_status %}available{% else %}unavailable{% endif %}">
                    Status:<br>{% if device.device_status %}Available{% else %}Unavailable{% endif %}</p>
                <p>Return in:<br> {{ device.return_day }} days</p>

            </div>
        {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    </div>

    {% include 'edit_device.html' %}
    <!-- Modal -->
    </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.edit-btn').click(function(){
                $('#editModal').modal('show');
            });
        });
        $(document).ready(function(){
            $('.btn-close').click(function(){
                $('#editModal').modal('hide');
            });
        });
        </script>

{% endblock %}