<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Device</h5>
                <a href="{% url 'delete_device' device.config.device_serial %}" class="btn btn-danger">
                    <i class='bx bxs-trash' ></i>
                    Delete Device</a>
                
                {% comment %} 
                Already closes on click away
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button> {% endcomment %}



            </div>
            <div class="modal-body" id="modal-body">
                <form method="POST" action="{% url 'edit_device' device.config.device_serial %}">
                    {% csrf_token %}

                    <div class="my2 flex">
                        <div style="width: 200px">
                            {{ form.device_name.label_tag }}
                        </div>
                        {{ form.device_name }} {{ form.device_name.errors }}
                    </div>

                    <div class="my2 flex">
                        <div style="width: 200px">
                            {{ form.device_type.label_tag }}
                        </div>
                        {{ form.device_type }} {{ form.device_type.errors }}
                    </div>

                    <div class="my2 flex">
                        <div style="width: 200px">
                            {{ form.device_desc.label_tag }}
                        </div>
                        {{ form.device_desc }} {{ form.device_desc.errors }}
                    </div>

                    <div class="my2 flex">
                        <div style="width: 200px">
                            {{ form.return_day.label_tag }}
                        </div>
                        {{ form.return_day }} {{ form.return_day.errors }}
                    </div>

                    <div class="my2 flex">
                        <label style="width: 200px">Available:</label>
                        {{ form.device_status }} {{ form.device_status.errors }}
                    </div>
                    
            
                    <button type="submit" class="btn btn-primary" id="form-sub">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

