{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="static/css/equipment.css">
{% endblock %}

{% block content %}
    <div class="structure-main">
    <div class="electronics-panel">
        <h2>Equipment</h2>
        <div class="search-panel">
            <form method="get" class="form">
                <input type="text" placeholder="Search..." name="search" value="{{ search }}">


            <input type="date" placeholder="Return Date" name="return-date" value="{{ return-date }}">
            <input type="date" placeholder="Pickup Date" name="pickup-date" value="{{ pickup-date }}">
            <select>
                <option value="all">All</option>
                <option value="available">Available</option>
                <option value="unavailable">Unavailable</option>

            </select>
            <select>
                <option value="all">All</option>
                <option value="laptop">Laptop</option>
                <option value="tablet">Tablet</option>
                <option value="3-in-1 tablet">3-in-1 Tablet</option>
                <option value="Accessory">Accessories</option>
                <option value="monitor">Monitor</option>
                <option value="other">Other</option>
            </select>
            <button class="savebtn" formaction="submit">Save filters</button>
            <button class="resetbtn" formaction="reset">Reset filters</button>
            </form>
        </div>


        <div class="product-panel">

        {% for device in devices %}

            <div class="product-item">
                <img src="static/images/{{ device.device_type.lower }}.png" alt="{{ device.device_type }}">
            <div class="product-info">
                <h2>{{ device.device_name }}</h2>
                <p> {{ device.device_type }}</p>
                <p class="{% if device.device_status %}available{% else %}unavailable{% endif %}">
                    {% if device.device_status %}Available{% else %}Unavailable{% endif %}</p>
                <div class="actions">
                    <button class="view-btn">View</button>
                    <button class="edit-btn">Edit</button>
                </div>
            </div>
            </div>
        {% endfor %}

        </div>
        <div class="pagination">
            <span>&lt;</span>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>&gt;</span>
        </div>
    </div>
    </div>

{% endblock %}