{% for device in devices %}
{% load static %}
            <div class="product-item">
                <img src="{% static 'images/'|add:device.device_type.lower|add:'.png'  %}" alt="{{ device.device_type }}">
            <div class="product-info">
                <h2>{{ device.device_name }}</h2>
                <p> {{ device.device_type }}</p>
                <p class="{% if device.device_status %}available{% else %}unavailable{% endif %}">
                    {% if device.device_status %}Available{% else %}Unavailable{% endif %}</p>
                <div class="actions">
                    <a href="{% url 'device_view' device.config.device_serial %}"><button class="view-btn">View</button></a>
                    <a href="{% url 'edit_device' device.config.device_serial %}"><button class="edit-btn">Edit</button></a>                </div>
            </div>
            </div>
{% endfor %}