{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/U-dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'css/equipment.css' %}">

{% endblock %}



{% block content %}
    <div class="dashboard-container">
        <div class="dashboard-column">
            <div class="dashboard-section" id="equipment-management">
                <h3>Equipment Management</h3>
                {% include 'equipmentSearch_plugin.html' %}
            </div>
        </div>
        <div class="dashboard-column">
            <div class="dashboard-section" id="alerts">
                <h3>Alerts</h3>
                <!-- Alerts content will go here -->
            </div>
            <div class="dashboard-section" id="reservations">
                <h3>Reservations</h3>
                <!-- Reservations content will go here -->
            </div>
        </div>
    </div>
{% endblock %}


